@media (max-width: 630px) {
    .card {
        display: block;
        width: 100%;
        margin: 0 20px;
    }

    .card .image-card {
        background-image: url("../images/image-product-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        border-radius: 10px 10px 0 0;
    }

    .card .description {
        width: 100%;
    }

    .card .description .information .perfume {
        font-size: 20px;
    }

    .card .description .information .title {
        font-size: 50px;
        line-height: 50px;
    }

    .card .description .information .paragraph {
        font-size: 20px;
    }

    .card .description .price .price-current {
        font-size: 40px;
    }

    .card .description .price .price-old {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .price {
        gap: 30px 10px;
    }

    .card .description .price .price-current {
        font-size: 30px;
    }

    .card .description .price .price-old {
        font-size: 13px;
    }
}