* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 10px;
}

.card .image-card {
    background-image: url("../images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    border-radius: 10px 0 0 10px;
}

.card .description {
    padding: 30px;
    width: 300px;
}

.card .description .information .perfume {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
}

.card .description .information .title {
    font-family: 'Fraunces', serif;
    line-height: 30px;
    margin-bottom: 20px;
    color: hsl(212, 21%, 14%);
}

.card .description .information .paragraph {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 20px;
}

.card .description .price .price-current {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.card .description .price .price-old {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    text-decoration:line-through ;
}

.card .description .price .button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    transition: background .2s linear;
}

.card .description .price .button:hover {
    background-color: hsl(157, 29%, 20%);
    cursor: pointer;
}

.card .description .price .button::before {
    content: url(../images/icon-cart.svg);
    padding: 10px;
}